body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#searchfield{
    margin-top: 10px;
    height: 25px;
    border-radius: 5px;
    padding-left: 8px;
    border:0.1px solid rgb(187, 179, 179);

}
#searchfield:focus{
    border-color: #82ffcb;
    outline: none;
}

#search-btn{
    margin-top: 10px;
    height: 25px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    border: none;
    
}

#search-btn:hover{
    background-color: #b6acac;
}


#container{
    
    /* background-color: #362f4b; */
    /* display: flex; */
   
    margin: 20px 20px 20px 20px;

    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #362f4b;
    position:sticky;
    top:-0.5px; 
    overflow: hidden;
    width: 100%;
    color: aliceblue;
    list-style: none;   
    display: flex;
    justify-content: center;
    flex-direction: row; 
  }
  
  li {
    float: right;
    color: aliceblue;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;

  }

  /* table css */

table {
    table-layout:fixed;
    border-collapse: collapse;
    width: 100%;
}
img{
    height: 24px;
    width: 24px;
}

th, td {
    text-align: left;
    padding: 8px;
    overflow: hidden;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #362f4b;
    color: white;
}
