{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href={% static 'liststyle.css' %}> -->
    <link rel="stylesheet" href={% static 'liststyle.css' %}>
</head>

<body>
    <nav class="nav-bar">

        <form action="" method="post">
            {%csrf_token%}
            <input type="text" name="searched" id="searchfield" placeholder="Enter CRN">
            <input type="submit" name="submit" value="search" id="search-btn">
        </form>
        <a id="glink" href="https://github.com/rabibasukala01/Application-of-Leave">Contribute</a>
    </nav>
    <div id="container">

        <table class="table">
            <colgroup>
                <col style="width:10%">
                <col style="width:20%">
                <col style="width:50%">
                <col style="width:10%">
            </colgroup>


            <tr>

                <th>Roll no.</th>
                <th>Name/Year</th>
                <th>Reason of Leave</th>
                <th>Time/Date </th>

            </tr>
            {%if searched_data%}
            {%for data in searched_data%}

            <tr>

                <td>{{data.roll}}</td>
                <td>{{data.fullname}}/{{data.year}}</td>
                <td>{{data.reason}}</td>
                <td>{{data.createdTime}} <br> {{data.createdDate}}</td>

            </tr>
            {%endfor%}
        </table>
        {%else%}
        <table class="table">
            <colgroup>
                <col style="width:10%">
                <col style="width:20%">
                <col style="width:50%">
                <col style="width:10%">
            </colgroup>
            {% for data in today %}
            <tr>
                <td>{{data.roll}}</td>
                <td>{{data.fullname}}/{{data.year}}</td>
                <td>{{data.reason}}</td>
                <td>{{data.createdTime}} <br> {{data.createdDate}}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <hr>
        <h3 style="text-align: center;">YESTERDAY</h3>

        <br>
        <table class="table">
            <colgroup>
                <col style="width:10%">
                <col style="width:20%">
                <col style="width:50%">
                <col style="width:10%">
            </colgroup>
            {% for data in yesterday %}
            <tr>
                <td>{{data.roll}}</td>
                <td>{{data.fullname}}/{{data.year}}</td>
                <td>{{data.reason}}</td>
                <td>{{data.createdTime}} <br> {{data.createdDate}}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <hr>
        <h3 style="text-align: center;">ALL</h3>

        <br>
        <table class="table">
            <colgroup>
                <col style="width:10%">
                <col style="width:20%">
                <col style="width:50%">
                <col style="width:10%">
            </colgroup>
            {% for data in remainings %}
            <tr>
                <td>{{data.roll}}</td>
                <td>{{data.fullname}}/{{data.year}}</td>
                <td>{{data.reason}}</td>
                <td>{{data.createdTime}} <br> {{data.createdDate}}</td>
            </tr>
            {% endfor %}
        </table>

        {%endif%}


    </div>
    <!-- {{today}}
    {{yesterday}}
    {{remainings}} -->
</body>

</html>
<!-- 
{% comment %} <ul>
    {%if searched_data%}

    {%for data in searched_data%}
    <li>{{data.roll}} {{data.fullname}} {{data.reason}} {{data.year}} {{data.createdTime}}</li>
    {%endfor%}
    {%else%}
    {% for data in list_of_object %}
    <li>{{data.roll}} {{data.fullname}} {{data.reason}} {{data.year}} {{data.createdTime}}</li>
    {% endfor %}

    {%endif%}
</ul> {% endcomment %} -->